<%= polaris_text_container(spacing: :tight) do %>
  <%= polaris_heading { "Install the Shopify POS App" } %>
  <p>
    Shopify POS is the easiest way to sell your products in person. Available for iPad, iPhone, and Android.
  </p>
<% end %>
