html[class~="Polaris-Summer-Editions-2023"] .Polaris-CalloutCard__Container {
  .Polaris-CalloutCard__Dismiss {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    right: var(--p-space-300);
    top: var(--p-space-300);
  }
}
