.Polaris--hidden {
  display: none !important;
}

/* Add missing 1/4 section for layout */
@media (min-width: 30.625em) {
  .Polaris-Layout__Section--oneFourth {
    flex: 1 1 20rem;
    min-width: 0;
  }
}

/* Fix Tag removal link */
a.Polaris-Tag__Button {
  height: auto;
}

/* Remove underline for sort link */

.Polaris-DataTable__Cell--sortable a {
  text-decoration: none;
}

/* CardSection borders */
.Polaris-Card__Section--borderTop {
  border-top: 0.1rem solid var(--p-divider);
}
.Polaris-Card__Section--borderBottom {
  border-bottom: 0.1rem solid var(--p-divider);
}

/* IndexTable */

/* TODO: Remove after upgrade to Polaris 7.0.0 */
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--unclickable {
  cursor: auto;
}

/* TestStyle sizes */
.Polaris-TextStyle--sizeSmall {
  font-size: 1.25rem;
}

/* Remove box-shadow from buttons and links */
.Polaris-Button::after,
.Polaris-Button:focus::after,
.Polaris-Breadcrumbs__Breadcrumb::after {
  box-shadow: none !important;
}

.Polaris-Tabs__Tab:focus > .Polaris-Tabs__Title::after {
  box-shadow: none !important;
}

/* ResourceItem */
.Polaris-ResourceItem__Owned--offset {
  padding-left: 2rem;
}

/* Popover */
.Polaris-Popover {
  margin: 0;
}

.Polaris-Popover__PopoverOverlay--closed {
  visibility: hidden;
  pointer-events: none;
}

/* Filters */

.Polaris-Filters-ConnectedFilterControl__RightContainer {
  .Polaris-Filters-ConnectedFilterControl__Item {
    & > div > div > button {
      margin-right: var(--p-button-group-item-spacing);
      border-radius: 0;
    }

    &:first-of-type > div > div > button {
      border-top-left-radius: var(--p-border-radius-base);
      border-bottom-left-radius: var(--p-border-radius-base);
    }
  }

  &.Polaris-Filters-ConnectedFilterControl--queryFieldHidden {
    .Polaris-Filters-ConnectedFilterControl__Item:first-of-type > div > div > button {
      border-top-left-radius: var(--p-border-radius-base);
      border-bottom-left-radius: var(--p-border-radius-base);
    }
  }
}

.Polaris-Filters-ConnectedFilterControl__RightContainerWithoutMoreFilters {
  .Polaris-Filters-ConnectedFilterControl__Item:last-child > div > div > button {
    border-top-right-radius: var(--p-border-radius-base);
    border-bottom-right-radius: var(--p-border-radius-base);
  }
}

/* Toast */
.Polaris-Frame-ToastManager {
  bottom: 0;
}

/* Autocomplete */

.Polaris-Autocomplete__EmptyState {
  padding: 0.8rem 1.6rem;
}

/* DropZone */
.Polaris-DropZone {
  &__Preview {
    padding: 1.5rem;
    display: flex;
    height: 100%;

    &--singleFile {
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  &__Loader {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
