/* Add missing 1/4 section for layout */
@media (min-width: 30.625em) {
  .Polaris-Layout__Section--oneFourth {
    flex: 1 1 20rem;
    min-width: 0;
  }
}

/* Fix Tag removal link */
a.Polaris-Tag__Button {
  height: auto;
}

/* Remove underline for sort link */

.Polaris-DataTable__Cell--sortable a {
  text-decoration: none;
}

/* CardSection borders */
.Polaris-Card__Section--borderTop {
  border-top: 0.1rem solid var(--p-divider);
}
.Polaris-Card__Section--borderBottom {
  border-bottom: 0.1rem solid var(--p-divider);
}
