.Polaris--hidden {
  display: none;
}

/* Add missing 1/4 section for layout */
@media (min-width: 30.625em) {
  .Polaris-Layout__Section--oneFourth {
    flex: 1 1 20rem;
    min-width: 0;
  }
}

/* Fix Tag removal link */
a.Polaris-Tag__Button {
  height: auto;
}

/* Remove underline for sort link */

.Polaris-DataTable__Cell--sortable a {
  text-decoration: none;
}

/* CardSection borders */
.Polaris-Card__Section--borderTop {
  border-top: 0.1rem solid var(--p-divider);
}
.Polaris-Card__Section--borderBottom {
  border-bottom: 0.1rem solid var(--p-divider);
}

/* IndexTable */

/* TODO: Remove after upgrade to Polaris 7.0.0 */
.Polaris-IndexTable__TableRow.Polaris-IndexTable__TableRow--unclickable {
  cursor: auto;
}

/* TestStyle sizes */
.Polaris-TextStyle--sizeSmall {
  font-size: 1.25rem;
}

/* Remove box-shadow from buttons and links */
.Polaris-Button::after, .Polaris-Button:focus::after, .Polaris-Breadcrumbs__Breadcrumb::after {
  box-shadow: none !important;
}

/* ResourceItem */
.Polaris-ResourceItem__Owned--offset {
  padding-left: 2rem;
}
