html[class~="Polaris-Summer-Editions-2023"] .Polaris-DropZone {
  border-radius: var(--p-border-radius-control);

  &::after {
    border-radius: var(--p-border-radius-control);
    border-color: var(--p-color-input-border);
  }

  .Polaris-DropZone__Overlay {
    border-radius: var(--p-border-radius-control);
  }
}
