html[class~="Polaris-Summer-Editions-2023"] .Polaris-IndexTable {

  .Polaris-IndexTable__TableCell:not(.Polaris-IndexTable__TableCell--flush):first-child,
  .Polaris-IndexTable__TableHeading:not(.Polaris-IndexTable__TableHeading--flush):first-child {
    padding-left: var(--p-space-400);
  }

  .Polaris-IndexTable__TableCell:not(.Polaris-IndexTable__TableCell--flush):last-child,
  .Polaris-IndexTable__TableHeading:not(.Polaris-IndexTable__TableHeading--flush):last-child {
    padding-right: var(--p-space-400);
  }
}
