html[class~="Polaris-Summer-Editions-2023"] {
  .Polaris-OptionList-Option__Checkbox {
    .Polaris-Checkbox__Icon > svg {
      fill: var(--p-color-text-brand-on-bg-fill);
      color: var(--p-color-text-brand-on-bg-fill);
    }
  }
}

.Polaris-OptionList-Option__Layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
