html[class~="Polaris-Summer-Editions-2023"] [aria-label='Pagination'] {
  .Polaris-Button {
    border: none !important;
    box-shadow: none;

    &:not([disabled]) {
      background-color: var(--p-color-bg-fill-tertiary);

      &:hover {
        background-color: var(--p-color-bg-fill-tertiary-hover);
      }
    }
  }
}
