html[class~="Polaris-Summer-Editions-2023"] [aria-label='Pagination'] {
  .Polaris-Button {
    background-color: var(--p-color-bg-fill-tertiary);
    border: none !important;
    box-shadow: none;

    &:hover {
      background-color: var(--p-color-bg-fill-tertiary-hover);
      box-shadow: none;
      border: none;
    }
  }
}
