html[class~="Polaris-Summer-Editions-2023"] .Polaris-Popover {
  .Polaris-Popover__Content .Polaris-Popover__Pane:first-child > .Polaris-Popover__Section > .Polaris-Box {
    padding: var(--p-space-300) var(--p-space-400) var(--p-space-100);
  }
  .Polaris-Popover__Content .Polaris-Popover__Pane:last-child > .Polaris-Popover__Section > .Polaris-Box {
    padding: var(--p-space-300) var(--p-space-300);
  }
}
