.shp-Navigation {
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid var(--p-color-border-secondary);
}

@media (max-width: 48.0625em) and (min-width: 30.625em),(min-width: 45.625em) {
  .shp-Navigation {
    padding: 0 20px;
  }
}

@media (min-width: 30.625em) {
  .shp-Navigation {
    padding: 0 20px;
  }
}

@media (max-width: 48.0625em) and (min-width: 46.5em),(min-width: 61.5em) {
  .shp-Navigation {
    padding: 0 32px;
  }
}

@media (min-width: 46.5em) {
  .shp-Navigation {
    padding: 0 32px;
  }
}

@media (max-width: 30.5625em) {
  .shp-Navigation {
    padding: 0 16px;
  }
}

.shp-Navigation_Items {
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 8px 2px;
  list-style: none
}

.shp-Navigation_Item {
  display: flex;
  margin: 0;
  padding: 0
}

.shp-Navigation_Link {
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  color: var(--p-color-text-subdued);
  position: relative;
  z-index: 400;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  padding: 0;
  outline: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.shp-Navigation_Link:visited {
  color: inherit;
}

.shp-Navigation_Link:focus {
  outline: none;
}

@media (min-width: 40em) {
  .shp-Navigation_Link {
    font-size: 14px;
  }
}

.shp-Navigation_Link:hover {
  text-decoration: none;
}

.shp-Navigation_Link:hover .shp-Navigation_LinkText {
  color: var(--p-color-text);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.shp-Navigation_Link:focus .shp-Navigation_LinkText {
  color: var(--p-color-text);
}

.shp-Navigation_LinkText {
  display: block;
  padding: 6px 12px;
  border-radius: 9999px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

[aria-selected='true'],
.shp-Navigation_Link:focus .shp-Navigation_LinkText {
  color: var(--p-color-text);
}

[aria-selected='true'] .shp-Navigation_LinkText,
[aria-selected='true']:hover .shp-Navigation_LinkText {
  color: var(--p-color-text);
  background-color: var(--p-color-bg-fill-transparent-hover);
}
