html[class~="Polaris-Summer-Editions-2023"] .Polaris-LegacyTabs__Wrapper {
  margin-bottom: var(--p-space-200);

  &:has(+.Polaris-IndexTable) {
    margin-bottom: 0 !important;
  }
}

html[class~="Polaris-Summer-Editions-2023"] .Polaris-Tabs__Wrapper {
  .Polaris-Tabs__Tab:active, .Polaris-Tabs__Tab:focus {
    background-color: var(--p-color-bg-fill-transparent-hover);
    color: var(--p-color-text-brand);
  }
}
