<%= polaris_layout do |layout| %>
  <% layout.with_annotated_section(title: "Store details", description: "Shopify and your customers will use this information to contact you.") do %>
    <%= polaris_card(title: "Online store dashboard", sectioned: true) do %>
      <p>View a summary of your online store’s performance.</p>
    <% end %>
  <% end %>
<% end %>
