<%= polaris_layout do |layout| %>
  <% layout.with_section do %>
    <%= polaris_card(title: "Online store dashboard", sectioned: true) do %>
      <p>View a summary of your online store’s performance.</p>
    <% end %>
  <% end %>
<% end %>
