<%= polaris_layout do |layout| %>
  <% layout.with_section(one_half: true) do %>
    <%= polaris_card(title: "First half", sectioned: true) do %>
      <p>View a summary of your order.</p>
    <% end %>
  <% end %>

  <% layout.with_section(one_half: true) do %>
    <%= polaris_card(title: "Second half", sectioned: true) do %>
      <p>Add tags to your order.</p>
    <% end %>
  <% end %>
<% end %>
