<%= polaris_card do %>
  <%= polaris_empty_state(
    full_width: true,
    heading: "Upload a file to get started",
    image: "https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png",
  ) do |state| %>
    <% state.with_primary_action { "Upload files" } %>

    <p>
      You can use the Files section to upload images, videos, and other
      documents. This example shows the content with a centered layout and full
      width.
    </p>
  <% end %>
<% end %>
