/**/.bundle/
/doc/
*.log
*.gem
/pkg/
/tmp/
.byebug_history
/node_modules/
/.idea

# demo app
/demo/tmp/
/demo/node_modules/
/demo/config/master.key
/demo/public/packs/
/demo/public/assets/
/demo/db/*.sqlite3
/demo/db/*.sqlite3-*
/demo/log/*.log
.DS_Store
.env
