/**/.bundle/
/doc/
*.log
/pkg/
/tmp/
.byebug_history
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

# demo app
/demo/tmp/
/demo/node_modules/
/demo/config/master.key
/demo/public/packs/
