<%= polaris_frame(logo: {
  src: "https://cdn.shopify.com/s/files/1/0446/6937/files/jaded-pixel-logo-color.svg",
  width: "124px"
}) do |frame| %>
  <% frame.with_save_bar(message: "Unsaved changes", full_width: true) do |save_bar| %>
    <% save_bar.with_save_action { "Save" } %>
    <% save_bar.with_discard_action { "Discard" } %>
  <% end %>

  <div data-action="load@window->polaris-frame#showSaveBar"></div>
<% end %>
