<%= polaris_frame do |frame| %>
  <% frame.with_save_bar(message: "Unsaved changes", flush: true) do |save_bar| %>
    <% save_bar.with_save_action { "Save" } %>
    <% save_bar.with_discard_action { "Discard" } %>
  <% end %>

  <div data-action="load@window->polaris-frame#showSaveBar"></div>
<% end %>
