<div style="background: #E0F8EE; height: auto;">
  <%= polaris_vertical_stack(gap: "5") do %>
    <%= polaris_placeholder(height: "48px") %>
    <%= polaris_placeholder(height: "48px") %>
    <%= polaris_placeholder(height: "48px") %>
  <% end %>
</div>
