<%= polaris_page(
  title: "#1085",
  back_url: "/products",
  next_url: "/product/2",
  secondary_actions: [
    { content: "Duplicate", url: "/duplicate" },
  ]
) do |page| %>
  <%= polaris_card(title: "Credit card") do %>
    <p>Credit card information</p>
  <% end %>
<% end %>
