<%= render Polaris::BaseComponent.new(tag: 'span', **@system_arguments) do %>
  <% if @source %>
    <%= image_tag @source, class: "Polaris-Avatar__Image", role: "presentation" %>
  <% else %>
    <span class="Polaris-Avatar__Initials">
      <% if @initials %>
        <svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
          <text x="50%" y="50%" dy="0.35em" fill="currentColor" font-size="20" text-anchor="middle">
            <%= @initials %>
          </text>
        </svg>
      <% else %>
        <svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
          <path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z"></path>
        </svg>
      <% end %>
    </span>
  <% end %>
<% end %>
