<%= render Polaris::BaseComponent.new(tag: 'div', **@system_arguments) do %>
  <% buttons.each do |button| %>
    <div class="Polaris-ButtonGroup__Item">
      <%= button %>
    </div>
  <% end %>

  <% items.each do |item| %>
    <div class="Polaris-ButtonGroup__Item">
      <%= item %>
    </div>
  <% end %>
<% end %>
