<%= render Polaris::ChoiceComponent.new(**@wrapper_arguments) do %>
  <%= render Polaris::BaseComponent.new(**@system_arguments) do %>
    <%= checkbox %>

    <span class="Polaris-Checkbox__Backdrop"></span>

    <span class="Polaris-Checkbox__Icon">
      <%= polaris_icon(name: icon_name) %>
    </span>
  <% end %>
<% end %>
