<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <progress
    class="Polaris-ProgressBar__Progress"
    value="<%= @progress %>"
    max="100"
  ></progress>

  <%= render Polaris::BaseComponent.new(**progress_arguments) do %>
    <span class="Polaris-ProgressBar__Label"><%= @progress %>%</span>
  <% end %>
<% end %>
