<%= render Polaris::ChoiceComponent.new(**wrapper_arguments) do %>
  <%= render Polaris::BaseComponent.new(**@system_arguments) do %>
    <%= radio_button %>
    <span class="Polaris-RadioButton__Backdrop"></span>
  <% end %>
<% end %>
