<%= render Polaris::BaseComponent.new(**system_arguments) do %>
  <div data-polaris-scrollable-target="topEdge"></div>
  <%= content %>
  <div data-polaris-scrollable-target="bottomEdge"></div>
<% end %>
