<%= render Polaris::BaseComponent.new(**system_arguments) do %>
  <span data-polaris-scrollable-target="topEdge"></span>
  <%= content %>
  <span data-polaris-scrollable-target="bottomEdge"></span>
<% end %>
