<%= render(Polaris::BaseComponent.new(tag: "span", **@system_arguments)) do %>
  <%= content %>
  <template data-polaris-tooltip-target="template">
    <div class="Polaris-Tooltip-TooltipOverlay__Content Polaris-Tooltip-TooltipOverlay--default">
      <%= @text %>
    </div>
    <div class="Polaris-Tooltip-Arrow" data-tooltip-arrow="true"></div>
  </template>
<% end %>
