<%= polaris_banner do |banner| %>
  <% banner.with_dismiss_button(url: "#") %>
  <p>
    Use your finance report to get detailed information about your business.
    <%= polaris_link(url: "#", monochrome: true) { "Let us know what you think" } %>
  </p>
<% end %>
