<%= polaris_banner(
  title: "USPS has updated their rates",
  status: :info,
) do |banner| %>
  <% banner.with_dismiss_button(url: "#") %>

  <p>Make sure you know how these changes affect your store.</p>

  <% banner.with_action(url: '#') { "Update rates" } %>
  <% banner.with_secondary_action(url: "#") { "Learn more" } %>
<% end %>
