<%= polaris_banner(
  title: "Some of your product variants are missing weights",
  status: :warning,
  dismissible: true,
) do |banner| %>
  <p>Add weights to show accurate rates at checkout and when buying shipping labels in Shopify.</p>

  <% banner.with_action(url: '#') { "Edit variant weights" } %>
  <% banner.with_secondary_action(url: "#") { "Learn more" } %>
<% end %>
