<%= polaris_card(sectioned: false) do %>
  <%= polaris_resource_list do %>
    <%= polaris_resource_item(selectable: true) do |resource_item| %>
      <% resource_item.with_checkbox(
        name: "question[]",
        value: "answer1",
      ) %>
      <p>Regular checkbox</p>
    <% end %>

    <%= polaris_resource_item(selectable: true, offset: true) do |resource_item| %>
      <% resource_item.with_checkbox(
        name: "question[]",
        value: "answer2",
      ) %>
      <p>Offset checkbox</p>
    <% end %>
  <% end %>
<% end %>
