<%= polaris_popover(active: true) do |popover| %>
  <% popover.button(disclosure: true) { "More actions" } %>

  <% popover.pane(fixed: true) do |pane| %>
    <% pane.section do %>
      <p>Available sales channels</p>
    <% end %>
    <% pane.section do %>
      <p>Section 2</p>
    <% end %>
  <% end %>

  <% popover.pane do |pane| %>
    <%= polaris_action_list do |action_list| %>
      <% action_list.item { "Online store" } %>
      <% action_list.item { "Facebook" } %>
      <% action_list.item { "Pinterest" } %>
      <% action_list.item { "Google" } %>
      <% action_list.item { "TikTok" } %>
      <% action_list.item { "Shopify POS" } %>
    <% end %>
  <% end %>
<% end %>
