<li class="Polaris-LegacyTabs__TabContainer" role="presentation">
  <%= render(Polaris::BaseComponent.new(**system_arguments)) do %>
    <span class="Polaris-LegacyTabs__Title">
      <%= @title %>
      <% if badge.present? %>
        <%= badge %>
      <% end %>
    </span>
  <% end %>
</li>
