<%= polaris_card(title: "Customer") do |card| %>
  <% card.with_section do %>
    <p>John Smith</p>
  <% end %>

  <% card.with_section(
    title: "Contact information",
    actions: [{ content: "Edit", url: "https://bao.agency" }]
  ) do %>
    <p>john.smith@example.com</p>
  <% end %>
<% end %>
