<%= polaris_card(title: "Online store dashboard") do |card| %>
  <% card.section do %>
    <p>View a summary of your online store’s performance.</p>
  <% end %>

  <% card.section do %>
    <p>
      View a summary of your online store’s performance, including sales,
      visitors, top products, and referrals.
    </p>
  <% end %>
<% end %>
