<%= polaris_card(title: "Shipment 1234") do |card| %>
  <p>View a summary of your online store’s performance.</p>

  <% card.with_primary_footer_action(url: "#") { "Add tracking number" } %>
  <% card.with_secondary_footer_action(url: "#", destructive: true) { "Cancel shipment" } %>
<% end %>
