<%= polaris_card(title: "Online store dashboard") do |card| %>
  <% card.with_section(border_bottom: true) do %>
    <p>Styled section</p>
  <% end %>

  <% card.with_section(unstyled: true) do %>
    <p>Untyled section</p>
  <% end %>

  <% card.with_section(border_top: true) do %>
    <p>Styled section</p>
  <% end %>
<% end %>
