<%= polaris_page(
  title: "3/4 inch Leather pet collar",
  subtitle: "Statement period: May 3, 2019 to June 2, 2019",
  back_url: "/products/31",
) do |page| %>
  <% page.title_metadata do %>
    <%= polaris_badge(status: :success) { "Paid" } %>
  <% end %>
  <% page.thumbnail(source: "https://burst.shopifycdn.com/photos/black-leather-choker-necklace_373x@2x.jpg") %>

  <p>Page content</p>
<% end %>
