<%= content_tag('div', content_tag_options) do %>
  <% if @title.present? %>
    <p class="Polaris-FormLayout__Title"><%= @title %></p>
  <% end %>

  <div class="Polaris-FormLayout__Items">
    <%= content.html_safe %>
  </div>

  <% if @help_text %>
    <p class="Polaris-FormLayout__HelpText"><%= @help_text %></p>
  <% end %>
<% end %>
