<% if @external %>
  <% icon = capture do %>
    <span class="Polaris-Link__IconLockup">
      <span class="Polaris-Link__IconLayout">
        <span class="Polaris-Icon" aria-label="(opens a new window)">
          <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
            <path d="M14 13v1a1 1 0 0 1-1 1H6c-.575 0-1-.484-1-1V7a1 1 0 0 1 1-1h1c1.037 0 1.04 1.5 0 1.5-.178.005-.353 0-.5 0v6h6V13c0-1 1.5-1 1.5 0zm-3.75-7.25A.75.75 0 0 1 11 5h4v4a.75.75 0 0 1-1.5 0V7.56l-3.22 3.22a.75.75 0 1 1-1.06-1.06l3.22-3.22H11a.75.75 0 0 1-.75-.75z"></path>
          </svg>
        </span>
      </span>
    </span>
  <% end %>
  <%= link_to @href, content_tag_options do %>
    <%= content.strip %><%= raw icon.strip %>
  <% end %>
<% else %>
  <%= link_to content.strip, @href, content_tag_options %>
<% end%>
