<% require "dotenv"; Dotenv.load(".env") %>

service: polaris_view_components
image: kirillplatonov/polaris_view_components
servers:
  - 195.201.128.126
proxy:
  app_port: 3000
  ssl: true
  host: legacy.polarisviewcomponents.org
registry:
  username: kirillplatonov
  password:
    - KAMAL_REGISTRY_PASSWORD
builder:
  arch: amd64
env:
  secret:
    - RAILS_MASTER_KEY
