<%= polaris_autocomplete do |autocomplete| %>
  <% autocomplete.with_text_field(name: :tags, label: "Tags", placeholder: "Search") do |c| %>
    <% c.with_prefix do %>
      <%= polaris_icon(name: "SearchMinor") %>
    <% end %>
  <% end %>
  <% autocomplete.with_empty_state do %>
    <div style="text-align: center;">
      <%= polaris_icon(name: "SearchMinor") %>
      <%= polaris_text_container { "Could not find any results" } %>
    </div>
  <% end %>

  <% autocomplete.with_option(label: "Rustic", value: "rustic") %>
  <% autocomplete.with_option(label: "Antique", value: "antique") %>
  <% autocomplete.with_option(label: "Vinyl", value: "vinyl") %>
  <% autocomplete.with_option(label: "Vintage", value: "vintage") %>
  <% autocomplete.with_option(label: "Refurbished", value: "refurbished") %>
<% end %>
