<%= render Polaris::Card::Component.new(
  title: "Left footer alignment",
  primary_footer_action: Polaris.complex_action(content: 'Example', url: '#'),
  secondary_footer_actions: [Polaris.complex_action(content: 'Example', url: '#')],
  footer_action_alignment: 'left'
) do %>
  <p>Left footer alignment example</p>
<% end %>
