<%= render Polaris::Card::Component.new(
  title: "Primary footer action",
  sectioned: true,
  primary_footer_action: Polaris.complex_action(content: 'Example', url: '#')
) do %>
  <p>Primary footer action example</p>
<% end %>
