<%= polaris_card(title: "Staff accounts") do |card| %>
  <% card.section do %>
    <ul>
      <li>Felix Crafford</li>
      <li>Ezequiel Manno</li>
    </ul>
  <% end %>

  <% card.section(title: "Deactivated staff accounts", subdued: true) do %>
    <ul>
      <li>Felix Crafford</li>
      <li>Ezequiel Manno</li>
    </ul>
  <% end %>
<% end %>
