<%= polaris_card(
      title: "Shipment 1234",
      primary_footer_action: { content: "Add tracking number", url: "https://bao.agency" },
      secondary_footer_actions: [{ content: "Edit shipment", url: "https://bao.agency" }]
    ) do %>
  <p>View a summary of your online store’s performance.</p>
<% end %>
