<%= polaris_banner(dismissible: true) do %>
  <p>
    Use your finance report to get detailed information about your business.<br>
    <%= polaris_link(url: "#", monochrome: true) { "Let us know what you think" } %>
  </p>
<% end %>
