<%= polaris_card(title: "Online store dashboard") do %>
  <%= polaris_text_container do %>
    <%= polaris_banner(dismissible: true, within: :container) do %>
      <p>
        Use your finance report to get detailed information about your business.<br>
        <%= polaris_link(url: "#", monochrome: true) { "Let us know what you think" } %>
      </p>
    <% end %>

    <p>View a summary of your online store’s performance.</p>
  <% end %>
<% end %>
