html[class~="Polaris-Summer-Editions-2023"] .Polaris-ActionList {

  .Polaris-ActionMenu-SecondaryAction a,
  .Polaris-ActionMenu-SecondaryAction button,
  .Polaris-ActionList__Item {
    padding: var(--p-space-200) var(--p-space-300);
    background: transparent !important;

    &:hover {
      background: var(--p-color-bg-surface-secondary-hover) !important;
    }
  }
}
