html[class~="Polaris-Summer-Editions-2023"] .Polaris-DataTable {

  .Polaris-DataTable__Cell:not(.Polaris-DataTable__Cell--flush):first-child,
  .Polaris-DataTable__Heading:not(.Polaris-DataTable__Heading--flush):first-child {
    padding-left: var(--p-space-400);
  }

  .Polaris-DataTable__Cell:not(.Polaris-DataTable__Cell--flush):last-child,
  .Polaris-DataTable__Heading:not(.Polaris-DataTable__Heading--flush):last-child {
    padding-right: var(--p-space-400);
  }
}
