html[class~="Polaris-Summer-Editions-2023"] .Polaris-Navigation {
  .Polaris-Navigation__Item {
    &.Polaris-Navigation__Item--selected {
      background-color: var(--p-color-nav-bg-surface-selected) !important;
    }

    &:hover {
      background-color: var(--p-color-bg-surface-tertiary);
    }
  }
}
