<%= content_tag('div', content_tag_options) do %>
  <div class="Polaris-Layout__AnnotationWrapper">
    <div class="Polaris-Layout__Annotation">
      <div class="Polaris-TextContainer">
        <h2 class="Polaris-Heading"><%= @title %></h2>

        <% if @description.present? %>
          <div class="Polaris-Layout__AnnotationDescription">
            <p><%= @description %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="Polaris-Layout__AnnotationContent">
      <%= content %>
    </div>
  </div>
<% end %>
