<%= polaris_button(data: {
  controller: "polaris",
  target: "#demo-modal",
  action: "polaris#openModal",
}) { "Open" } %>

<%= polaris_modal(
  id: "demo-modal",
  title: "Reach more shoppers with Instagram product tags",
  open: true,
) do |modal| %>
  <% modal.with_section do %>
    <p>Section 1</p>
  <% end %>
  <% modal.with_section do %>
    <p>Section 2</p>
  <% end %>

  <% modal.with_primary_action { "Add instagram" } %>
  <% modal.with_secondary_action { "Learn more" } %>
<% end %>
