<%= polaris_button(data: {
  controller: "polaris",
  target: "#demo-modal",
  action: "polaris#openModal",
}) { "Open" } %>

<%= polaris_modal(
  id: "demo-modal",
  title: false,
  open: true,
) do |modal| %>
  <%= polaris_text_container do %>
    <p>
      Use Instagram posts to share your products with millions of
      people. Let shoppers buy from your store without leaving
      Instagram.
    </p>
  <% end %>

  <% modal.with_primary_action { "Add instagram" } %>
  <% modal.with_secondary_action { "Learn more" } %>
<% end %>
