<div>
  <div class="Polaris-Labelled__LabelWrapper">
    <div class="Polaris-Label">
      <%= @form.label @label, { class: 'Polaris-Label__Text' } %>
    </div>
  </div>

  <div class="Polaris-Connected">
    <% if connected_left.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_left %>
      </div>
    <% end %>

    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
      <div class="Polaris-TextField Polaris-TextField--hasValue">
        <%= @form.text_field @label, { class: 'Polaris-TextField__Input', placeholder: @placeholder } %>

        <div class="Polaris-TextField__Backdrop"></div>
      </div>
    </div>

    <% if connected_right.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_right %>
      </div>
    <% end %>
  </div>
</div>
