<%= render Polaris::Labelled::Component.new(**labelled_attrs) do %>
  <div class="Polaris-Connected">
    <% if connected_left.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_left %>
      </div>
    <% end %>

    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
      <div class="Polaris-TextField Polaris-TextField--hasValue<%if @error.present? %> Polaris-TextField--error<% end %>">
        <%= @form.send(
              input,
              @attribute,
              {
                class: 'Polaris-TextField__Input',
                placeholder: @placeholder,
                rows: @multiline || nil,
                index: @index,
              }
            ) %>
        <div class="Polaris-TextField__Backdrop"></div>
      </div>
    </div>

    <% if connected_right.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_right %>
      </div>
    <% end %>
  </div>
<% end %>
