<div style="max-width: 100px;">
  <%= polaris_button_group(nowrap: true) do |group| %>
    <%= group.button { "Very long button text" } %>
    <%= group.button(primary: true) { "Save" } %>
  <% end %>
</div>
