@import "./polaris_view_components/fonts.pcss";
@import "@shopify/polaris/build/esm/styles.css";
@import "./polaris_view_components/variables.pcss";

@import "./polaris_view_components/action_list.pcss";
@import "./polaris_view_components/banner.pcss";
@import "./polaris_view_components/button.pcss";
@import "./polaris_view_components/callout_card.pcss";
@import "./polaris_view_components/card.pcss";
@import "./polaris_view_components/custom.pcss";
@import "./polaris_view_components/data_table.pcss";
@import "./polaris_view_components/footer_help.pcss";
@import "./polaris_view_components/form_layout.pcss";
@import "./polaris_view_components/index_table.pcss";
@import "./polaris_view_components/list.pcss";
@import "./polaris_view_components/modal.pcss";
@import "./polaris_view_components/navigation.pcss";
@import "./polaris_view_components/navigation_list_component.pcss";
@import "./polaris_view_components/option_list.pcss";
@import "./polaris_view_components/page.pcss";
@import "./polaris_view_components/pagination.pcss";
@import "./polaris_view_components/popover.pcss";
@import "./polaris_view_components/save_bar.pcss";
@import "./polaris_view_components/shopify_navigation.pcss";
@import "./polaris_view_components/spacer_component.pcss";
@import "./polaris_view_components/tabs.pcss";
@import "./polaris_view_components/text_fields.pcss";
@import "./polaris_view_components/tooltip_component.pcss";
