<p>Dolor nam amet in dolores sunt ipsum, ab Error reiciendis cum non odit iusto?

<%= polaris_tooltip(text: "I'm a tooltip", position: :right) do %>
  <b>Hover over me</b>
<% end %>

Ipsum nobis doloribus voluptates excepturi voluptatibus? Architecto sit facere voluptatum nihil itaque. Maiores illum atque corporis magni ad Harum ex omnis voluptatem eos quidem.

Ipsam unde dolorem odit iste autem sunt rerum Incidunt possimus debitis omnis impedit facere. Cupiditate deleniti dolore enim odit amet? Quas deleniti explicabo veritatis aliquid adipisci repudiandae debitis? Aut nisi eveniet incidunt in consectetur Consequuntur pariatur adipisci aliquid id commodi culpa atque. Quia distinctio in temporibus aperiam voluptatem voluptatibus

<%= polaris_tooltip(text: "I'm a tooltip", position: :top) do %>
  <b>Hover over me</b>
<% end %>

Libero tempore optio ducimus minus possimus, soluta Ipsum culpa recusandae officiis facere deleniti? </p>
