<div style="background: #E0F8EE; height: auto;">
  <%= polaris_horizontal_grid(gap: "4", columns: 3) do %>
    <%= polaris_placeholder(height: "320px") %>
    <%= polaris_placeholder(height: "320px") %>
    <%= polaris_placeholder(height: "320px") %>
  <% end %>
</div>
